@page "/cotizaciones"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject HttpClient httpClient
@code {
    private List<Cotization> contizations;

    public class Rol
    {
        public int? Id { get; set; }
        public string Nombre { get; set; }
    }

    public class User
    {
        public string email { get; set; }
        public string nombre { get; set; }
        public int IdUsuario { get; set; }
    }

    private Rol rol;
    private User user;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        var response_rol = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "UserRol");
        var response_user = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "User");
        rol = JsonConvert.DeserializeObject<Rol>(response_rol);
        user = JsonConvert.DeserializeObject<User>(response_user);
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Cotizaciones");
        //desarrollo
        var response = await httpClient.GetAsync($"{path}/Cotizaciones");

        if (response.IsSuccessStatusCode)
        {
            Console.Write("User Mail" + user.email);
            var content = await response.Content.ReadAsStringAsync();
            contizations = JsonConvert.DeserializeObject<List<Cotization>>(content);
            List<Cotization> filteredItemsUser = new List<Cotization>();
            foreach (var contization in contizations)
            {
                if (contization.UsuarioId == user.IdUsuario)
                {
                    filteredItemsUser.Add(contization);
                }
            }
            if(rol.Nombre != "Administrador del sistema")
            {
                contizations = filteredItemsUser;
            }
        }
        else
        {

        }
    }
}

<PageTitle>Ferro Laminas</PageTitle>

<h3 class="order-title">Cotizaciones</h3>

@if (contizations != null)
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Cedula</th>
                <th>Total</th>
                <th>Peso Lamina</th>
                <th>Precio Material</th>
                <th>Precio Servicio</th>
                <th>Detalles</th>
                @if (rol.Nombre == "Administrador del sistema")
                {
                    <th>Editar</th>
                    <th>Eliminar</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var contization in contizations)
            {
                <tr class="order-table-body">
                    <td>@contization.Id</td>
                    <td>@contization.ClienteId</td>
                    <td>@contization.PrecioTotal</td>
                    <td>@contization.PesoLamina</td>
                    <td>@contization.PrecioMaterial</td>
                    <td>@contization.PrecioServicio</td>
                    <td><a href="/cotizaciones/detalles/@contization.Id">Ver</a></td>
                    @if (rol.Nombre == "Administrador del sistema")
                    {
                        <td><a href="/cotizaciones/@contization.Id">Editar</a></td>
                        <td><a href="/cotizaciones" @onclick="@(() => DeleteCotitation(contization.Id))">Eliminar</a></td>                        
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Cedula</th>
                <th>Total</th>
                <th>Peso Lamina</th>
                <th>Precio Metrial</th>
                <th>Precio Servicio</th>
            </tr>
        </thead>
        <tbody>
            <tr class="order-table-body">
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
}

    <button class="order-submit" type="button" onclick="@redirectCotization">Nueva Cotización</button>

@code {
    public class Cotization
    {
        public int Id { get; set; }
        public int ClienteId { get; set; }
        public int ProyectoId { get; set; }
        public int MaterialId { get; set; }
        public int ServicioId { get; set; }
        public double PrecioTotal { get; set; }
        public double PesoLamina { get; set; }
        public double PrecioMaterial { get; set; }
        public double PrecioServicio { get; set; }
        public int UsuarioId { get; set; }
        public bool CotizacionFinalizada { get; set; }
    }

    private string logoClass { get; set; }
    private string logoTextClass { get; set; }
    private string formClass { get; set; }
    private Timer timer { get; set; }

    // protected override void OnInitialized()
    // {
    //     logoClass = "logo-rotation";
    //     logoTextClass = "logo-text";
    //     formClass = "form-login-hiden";
    //     timer = new Timer(EjecutarTimeout, null, 2000, Timeout.Infinite);
    // }

    private async Task DeleteCotitation(int _id)
    {
        var httpClient = new HttpClient();
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        //produccion
        //var response = await httpClient.DeleteAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + _id);
        //desarrollo
        var response = await httpClient.DeleteAsync($"{path}/Cotizaciones/" + _id);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
        }
        else
        {
        }
        StateHasChanged();
    }

    private void redirectCotization()
    {
        Navigation.NavigateToLogin("/cotizacion");
    }

    // private void EjecutarTimeout(object state)
    // {
    //     logoClass = "logo";
    //     logoTextClass = "logo-text-hiden";
    //     formClass = "form-login";
    //     StateHasChanged();
    // }
}
