@page "/cotizaciones/{id}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    [Parameter]
    public string id { get; set; }

    private List<Ubication> ubicationList;
    private List<Material> materialList;
    private List<Server> serverList;
    private List<Calibre> calibreList;
    private Cliente newCliente;
    private Proyecto newProyecto;
    private Cotization newCotization;
    private User UserResponse;
    private Cotization editCotization;


    protected override async Task OnInitializedAsync()
    {
        newCliente = new Cliente();
        newProyecto = new Proyecto();
        newCotization = new Cotization();

        newCliente.cedula = 0;
        newCliente.email = "";
        newCliente.nombre = "";
        newCliente.telefono = "";
        newCliente.ubicacionId = 0;
        newCliente.direccion = "";
        newProyecto.Ancho = 0;
        newProyecto.Largo = 0;
        newProyecto.Descripcion = "";
        newProyecto.Calibre = 0;
        newProyecto.Id = 0;
        newCotization.Id = 0;
        newCotization.ClienteId = 0;
        newCotization.ProyectoId = 0;
        newCotization.MaterialId = 0;
        newCotization.ServicioId = 0;
        newCotization.PrecioTotal = 0;
        newCotization.PesoLamina = 0;
        newCotization.PrecioMaterial = 0;
        newCotization.PrecioServicio = 0;
        newCotization.UsuarioId = 0;
        newCotization.CotizacionFinalizada = false;

        var userResponseJson = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "User");

        if (!string.IsNullOrEmpty(userResponseJson))
        {
            UserResponse = JsonConvert.DeserializeObject<User>(userResponseJson);
        }

        var httpClientUbication = new HttpClient();
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + id);
        //desarrollo
        var responseUbication = await httpClientUbication.GetAsync("https://localhost:7263/api/Ubicaciones");

        if (responseUbication.IsSuccessStatusCode)
        {
            var content = await responseUbication.Content.ReadAsStringAsync();
            ubicationList = JsonConvert.DeserializeObject<List<Ubication>>(content);
        }
        else
        {
            ubicationList = new List<Ubication>();
        }

        var httpClientMaterial = new HttpClient();
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales");
        //desarrollo
        var responseMaterial = await httpClientMaterial.GetAsync("https://localhost:7263/api/Materiales");

        if (responseMaterial.IsSuccessStatusCode)
        {
            var content = await responseMaterial.Content.ReadAsStringAsync();
            materialList = JsonConvert.DeserializeObject<List<Material>>(content);
        }
        else
        {
            materialList = new List<Material>();
        }

        var httpClient = new HttpClient();
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Servicios");
        //desarrollo
        var response = await httpClient.GetAsync("https://localhost:7263/api/Servicios");

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            serverList = JsonConvert.DeserializeObject<List<Server>>(content);
        }
        else
        {

        }

        var httpClientCotization = new HttpClient();
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales");
        //desarrollo
        var responseCotization = await httpClientCotization.GetAsync("https://localhost:7263/api/Cotizaciones/" + id);

        if (responseCotization.IsSuccessStatusCode)
        {
            var content = await responseCotization.Content.ReadAsStringAsync();
            editCotization = JsonConvert.DeserializeObject<Cotization>(content);
            Console.WriteLine("Get new cotitation" + editCotization);
        }
        else
        {
            editCotization = new Cotization();
        }
    }
}
<h3 class="cotizacion-title">Cotización</h3>
<form class="cotizacion-form" onsubmit="@updateCotitation">
        <label for="tipo">Inforamción de la cotiazación:</label>
        <br />
        <div>
            <label for="cedula">Cedula:</label>
            <input type="number" id="cedula" name="cedula" value="@editCotization.ClienteId" @onchange="@((e) => handleChange(e,"cedula"))" />
        </div>
        <div>
            <label for="proyect">Proyecto:</label>
        <input type="text" id="proyect" name="proyect" value="@editCotization.ProyectoId" @onchange="@((e) => handleChange(e,"proyect"))" />
        </div>
    <div>
        <label for="material">Material:</label>
        <select id="material" name="material"  @onchange="@((e) => handleChange(e,"material"))">
            <option value="0">Material</option>
            @if (materialList != null)
            {
                @foreach (var material in materialList)
                {
                    <option value="@material.Id">@material.Tipo</option>
                }
            }
        </select>
    </div>
    <div>
        <label for="servicio">Servicio:</label>
        <select id="servicio" name="servicio" @onchange="@((e) => handleChange(e,"servicio"))">
            <option value="0">Servicio</option>
            @if (serverList != null)
            {
                @foreach (var server in serverList)
                {
                    <option value="@server.Id">@server.Nombre</option>
                }
            }
        </select>
    </div>
        <div>
            <label for="precioTotal">Precio Total:</label>
        <input type="text" id="precioTotal" name="precioTotal" value="@editCotization.PrecioTotal" @onchange="@((e) => handleChange(e,"precioTotal"))" />
        </div>
        <div>
            <label for="pesoLamina">Peso Lamina:</label>
        <input type="text" id="pesoLamina" name="pesoLamina" value="@editCotization.PesoLamina" @onchange="@((e) => handleChange(e,"pesoLamina"))" />
        </div>
        <div>
        <label for="precioMaterial">Precio Material:</label>
        <input type="text" id="precioMaterial" name="precioMaterial" value="@editCotization.PrecioMaterial" @onchange="@((e) => handleChange(e,"precioMaterial"))" />
        </div>
        <div>
        <label for="precioServicio">Precio Servicio:</label>
        <input type="text" id="precioServicio" name="precioServicio" value="@editCotization.PrecioServicio" @onchange="@((e) => handleChange(e,"precioServicio"))" />
        </div>
        <div>
        <label for="usuarioId">Usuario Id:</label>
        <input type="number" id="usuarioId" name="usuarioId" value="@editCotization.UsuarioId" @onchange="@((e) => handleChange(e,"usuarioId"))" />
        </div>

        <button type="submit" >Guardar cotización</button>
    </form>





@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }

    public class Material
    {
        public int Id { get; set; }
        public string Tipo { get; set; }
        public double PrecioPorKilo { get; set; }
        public double StockKilos { get; set; }
        public string Descripcion { get; set; }
    }

    public class MaterialList
    {
        public List<Material> Values { get; set; }
    }

    public class Ubication
    {
        public int Id { get; set; }
        public string Pais { get; set; }
        public string Departamento { get; set; }
        public string Ciudad { get; set; }
    }

    public class UbicationList
    {
        public List<Ubication> Values { get; set; }
    }

    public class Server
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public decimal PrecioPorKilo { get; set; }
        public string Descripcion { get; set; }
    }

    public class ServerData
    {
        public List<Server> Values { get; set; }
    }

    public class Calibre
    {
        public int Id { get; set; }
        public double MedidaCalibre { get; set; }
        public int MaterialId { get; set; }
    }

    public class CalibreList
    {
        public List<Calibre> Values { get; set; }
    }

    public class User
    {
        public string email { get; set; }
        public string nombre { get; set; }
        public int IdUsuario { get; set; }
    }

    public class Cliente
    {
        public int cedula { get; set; }
        public string nombre { get; set; }
        public string telefono { get; set; }
        public string direccion { get; set; }
        public string email { get; set; }
        public int ubicacionId { get; set; }
    }

    public class Proyecto
    {
        public int Id { get; set; }
        public string Descripcion { get; set; }
        public int Largo { get; set; }
        public int Ancho { get; set; }
        public int Calibre { get; set; }
    }

    public class ProyectoData
    {
        public Proyecto Data { get; set; }
    }

    public class Cotization
    {
        public int Id { get; set; }
        public int ClienteId { get; set; }
        public int ProyectoId { get; set; }
        public int MaterialId { get; set; }
        public int ServicioId { get; set; }
        public double PrecioTotal { get; set; }
        public double PesoLamina { get; set; }
        public double PrecioMaterial { get; set; }
        public double PrecioServicio { get; set; }
        public int UsuarioId { get; set; }
        public bool CotizacionFinalizada { get; set; }
    }

    public void handleChange(ChangeEventArgs e, string name)
    {
        if (name == "cedula")
        {
            string inputValue = e.Value.ToString();
            editCotization.ClienteId = Int32.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.ClienteId);
        }

        if (name == "proyect")
        {
            string inputValue = e.Value.ToString();
            editCotization.ProyectoId = Int32.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.ProyectoId);
        }

        if (name == "material")
        {
            string inputValue = e.Value.ToString();
            editCotization.MaterialId = Int32.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.MaterialId);
        }

        if (name == "servicio")
        {
            string inputValue = e.Value.ToString();
            editCotization.ServicioId = Int32.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.ServicioId);
        }

        if (name == "precioTotal")
        {
            string inputValue = e.Value.ToString();
            editCotization.PrecioTotal = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.PrecioTotal);
        }

        if (name == "pesoLamina")
        {
            string inputValue = e.Value.ToString();
            editCotization.PesoLamina = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.PesoLamina);
        }

        if (name == "precioMaterial")
        {
            string inputValue = e.Value.ToString();
            editCotization.PrecioMaterial = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.PrecioMaterial);
        }

        if (name == "precioServicio")
        {
            string inputValue = e.Value.ToString();
            editCotization.PrecioServicio = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.PrecioServicio);
        }


        if (name == "usuarioId")
        {
            string inputValue = e.Value.ToString();
            editCotization.UsuarioId = Int32.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + editCotization.UsuarioId);
        }
        StateHasChanged();
    }

    private async Task updateCotitation()
    {
        var httpClientCreateCotitation = new HttpClient();
        var content = new StringContent(JsonConvert.SerializeObject(editCotization), Encoding.UTF8, "application/json");
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + id);
        //desarrollo
        var responseCreateCotitation = await httpClientCreateCotitation.PutAsync("https://localhost:7263/api/Cotizaciones/" + id, content);

        if (responseCreateCotitation.IsSuccessStatusCode)
        {
            Console.WriteLine("Se Modifico la cotización");
            Navigation.NavigateToLogin("/cotizaciones");
        } else
        {
            Console.WriteLine("Fallo la cotización");
        }
    }
}
