@page "/servicios/{id}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    [Parameter]
    public string id { get; set; }

    private Serveer server;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Servicios/" + id);
        var response = await httpClient.GetAsync("https://localhost:7263/api/Servicios/" + id);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            server = JsonConvert.DeserializeObject<Serveer>(content);
        }
        else
        {
            server = new Serveer();
        }
    }
}


@if (server != null)
{
    <h3 class="cotizacion-title">Servicio</h3>

    <form class="cotizacion-form">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="@server.Nombre" @onchange="@((e) => handleChange(e,"nombre"))" />
        </div>
        <div>
            <label for="precioporkilo2">Precio por kilo:</label>
            <input type="number" id="precioporkilo2" name="precioporkilo2" value="@server.PrecioPorKilo" @onchange="@((e) => handleChange(e,"precioporkilo2"))" />
        </div>
        <div>
            <label for="descripcion2">Descripción:</label>
            <input type="text" id="descripcion2" name="descripcion2" value="@server.Descripcion" @onchange="@((e) => handleChange(e,"descripcion2"))" />
        </div>
        <button type="submit" @onclick="UpdateServer">Guardar servicio</button>
    </form>
}

@code {
    public class Serveer
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public double PrecioPorKilo { get; set; }
        public string Descripcion { get; set; }
    }

    public void handleChange(ChangeEventArgs e, string name)
    {
        if (name == "nombre")
        {
            string inputValue = e.Value.ToString();
            server.Nombre = inputValue;
            Console.WriteLine("El valor del input ha cambiado: " + server.Nombre);
        }

        if (name == "precioporkilo2")
        {
            string inputValue = e.Value.ToString();
            server.PrecioPorKilo = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + server.PrecioPorKilo);
        }

        if (name == "descripcion2")
        {
            string inputValue = e.Value.ToString();
            server.Descripcion = inputValue;
            Console.WriteLine("El valor del input ha cambiado: " + server.Descripcion);
        }
    }

    private async Task UpdateServer()
    {
        var httpClient = new HttpClient();
        var content = new StringContent(JsonConvert.SerializeObject(server), Encoding.UTF8, "application/json");
        //var response = await httpClient.PutAsync("https://apiferrolaminas.azurewebsites.net/api/Servicios/" + server.Id, content);
        var response = await httpClient.PutAsync("https://localhost:7263/api/Servicios/" + server.Id, content);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
            Navigation.NavigateTo("/servicios");
        }
        else
        {
        }
        StateHasChanged();
    }
}
