@page "/servicios"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    private List<Server> servers;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync("https://localhost:7263/api/Servicios");

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            servers = JsonConvert.DeserializeObject<List<Server>>(content);
        }
        else
        {

        }
    }
}

<PageTitle>Ferro Laminas</PageTitle>

<h3 class="order-title">Servicios</h3>

@if (servers != null)
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio por Kilo</th>
                <th>Descripción</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var server in servers)
            {
                <tr class="order-table-body">
                    <td>@server.Id</td>
                    <td>@server.Nombre</td>
                    <td>@server.PrecioPorKilo</td>
                    <td>@server.Descripcion</td>
                    <td><a href="/servicios/@server.Id">Editar</a></td>
                    <td><a href="/servicios" @onclick="@(() => DeleteServer(server.Id))">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio por Kilo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr class="order-table-body">
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>

            </tr>
        </tbody>
    </table>
}

<button class="order-submit" type="button" @onclick='CrearServer'>Nuevo Servicio</button>

@code {
    public class Server
    {
        public int Id { get; set; }
        public string Nombre { get; set; }
        public decimal PrecioPorKilo { get; set; }
        public string Descripcion { get; set; }
    }

    public class ServerData
    {
        public List<Server> Values { get; set; }
    }

    private string logoClass { get; set; }
    private string logoTextClass { get; set; }
    private string formClass { get; set; }
    private Timer timer { get; set; }

    protected override void OnInitialized()
    {
        logoClass = "logo-rotation";
        logoTextClass = "logo-text";
        formClass = "form-login-hiden";
        timer = new Timer(EjecutarTimeout, null, 2000, Timeout.Infinite);
    }

    private async Task CrearServer()
    {
        Server nuevoServer = new Server();
        nuevoServer.Id = 8;
        nuevoServer.Nombre = "Servicio prueba";
        nuevoServer.PrecioPorKilo = 70;
        nuevoServer.Descripcion = "Este es un nuevo servicio";
        var httpClient = new HttpClient();
        var content = new StringContent(JsonConvert.SerializeObject(nuevoServer), Encoding.UTF8, "application/json");
        var response = await httpClient.PostAsync("https://localhost:7263/api/Servicios", content);

        if (response.IsSuccessStatusCode)
        {
            // El material se creó exitosamente, puedes realizar alguna acción, como redirigir a otra página
        }
        else
        {
        }
        StateHasChanged();
    }

    private async Task DeleteServer(int _id)
    {
        var httpClient = new HttpClient();
        var response = await httpClient.DeleteAsync("https://localhost:7263/api/Servicios/" + _id);

        if (response.IsSuccessStatusCode)
        {
            // El material se creó exitosamente, puedes realizar alguna acción, como redirigir a otra página
        }
        else
        {
        }
        StateHasChanged();
    }

    private void EjecutarTimeout(object state)
    {
        logoClass = "logo";
        logoTextClass = "logo-text-hiden";
        formClass = "form-login";
        StateHasChanged();
    }
}
