@page "/seguimientos"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject HttpClient httpClient
@code {
    private List<Seguimient> seguimients;

    public class Rol
    {
        public int? Id { get; set; }
        public string Nombre { get; set; }
    }

    private Rol rol;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        var response_rol = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "UserRol");
        rol = JsonConvert.DeserializeObject<Rol>(response_rol);
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Cotizaciones");
        //desarrollo
        var response = await httpClient.GetAsync($"{path}/Seguimiento");

        if (response.IsSuccessStatusCode)
        {
            SeguimientData data;
            var content = await response.Content.ReadAsStringAsync();
            data = JsonConvert.DeserializeObject<SeguimientData>(content);
            seguimients = data.Data;
        }
        else
        {

        }
    }
}

<PageTitle>Ferro Laminas</PageTitle>

<h3 class="order-title">Seguimientos</h3>

@if (seguimients != null)
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Orden Id</th>
                <th>Fecha</th>
                <th>Avance</th>
                <th>Observaciones</th>
                <th>Detalles</th>
                @if (rol.Nombre == "Administrador del sistema")
                {
                    <th>Eliminar</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var seguimient in seguimients)
            {
                <tr class="order-table-body">
                    <td>@seguimient.Id</td>
                    <td>@seguimient.OrdenDeTrabajoId</td>
                    <td>@getDate(seguimient.Fecha)</td>
                    <td>@seguimient.Avance</td>
                    <td>@seguimient.Observaciones</td>
                    <td><a href="/seguimiento/@seguimient.Id">Ver</a></td>
                    @if (rol.Nombre == "Administrador del sistema")
                    {
                        <td><a href="/seguimientos" @onclick="@(() => DeleteCotitation(seguimient.Id))">Eliminar</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <table class="order-table table">
        <thead>
            <tr class="order-table-head">
                <th>ID</th>
                <th>Orden Id</th>
                <th>Fecha</th>
                <th>Avance</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="order-table-body">
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
}

@if (rol != null && rol.Nombre == "Administrador del sistema")
{
    <button class="order-submit" type="button" onclick="@redirectOrder">Nuevo Seguimiento</button>
}

@code {
    public class Seguimient
    {
        public int Id { get; set; }
        public int OrdenDeTrabajoId { get; set; }
        public string Fecha { get; set; }
        public double Avance { get; set; }
        public string Observaciones { get; set; }
    }

    public class SeguimientData
    {
        public List<Seguimient> Data { get; set; }
    }

    private string logoClass { get; set; }
    private string logoTextClass { get; set; }
    private string formClass { get; set; }
    private Timer timer { get; set; }

    // protected override void OnInitialized()
    // {
    //     logoClass = "logo-rotation";
    //     logoTextClass = "logo-text";
    //     formClass = "form-login-hiden";
    //     timer = new Timer(EjecutarTimeout, null, 2000, Timeout.Infinite);
    // }

    private async Task DeleteCotitation(int _id)
    {
        var httpClient = new HttpClient();
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        //produccion
        //var response = await httpClient.DeleteAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + _id);
        //desarrollo
        var response = await httpClient.DeleteAsync($"{path}/Seguimiento/" + _id);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
        }
        else
        {
        }
        StateHasChanged();
    }

    private void redirectOrder()
    {
        Navigation.NavigateToLogin("/seguimiento");
    }

    private string getDate(string date)
    {
        return DateTime.Parse(date).ToString();
    }

    // private void EjecutarTimeout(object state)
    // {
    //     logoClass = "logo";
    //     logoTextClass = "logo-text-hiden";
    //     formClass = "form-login";
    //     StateHasChanged();
    // }
}
