@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<nav class="navbar-mobile">
    <button class="@getMenuButtonClass()" @onclick="@setShowMenu">
        <div/>
        <div />
        <div />
    </button>
    <div>
        <AuthorizeView>
            <Authorized>
                <div class="user-content">
                    <p class="user-name">@context.User.Identity.Name</p>
                    <button class="logout-button" @onclick="BeginLogOut">Log out</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
    <div class="@isShowMenu()">
        <a href="/home">Home</a>
        <a href="/materiales">Materiales</a>
        <a href="/servicios">Servicios</a>
        <a href="/tipos-corte">Tipo de corte</a>
    </div>
</nav>
<nav class="navbar">
    <div>
        <a href="/home">
            <img aria-live="polite" class="logo-navbar" src="/utils/logo-img.png" alt="Logo" />
        </a>
    </div>
    <div class="links">
        <a href="/materiales">Materiales</a>
        <a href="/servicios">Servicios</a>
        <a href="/tipos-corte">Tipo de corte</a>
    </div>
    <div>
        <AuthorizeView>
            <Authorized>
                <div class="user-content">
                    <p class="user-name">@context.User.Identity.Name</p>
                    <button class="logout-button" @onclick="BeginLogOut">Log out</button>
                </div>
            </Authorized>
            <NotAuthorized>
                <a href="authentication/login">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>

@code {
    private int menuSelected { get; set; }
    private bool showMenu { get; set; }
    protected override void OnInitialized()
    {
        showMenu = false;
    }

    public void setShowMenu()
    {
        showMenu = !showMenu;
        StateHasChanged();
    }

    public string getMenuButtonClass()
    {
        if (!showMenu) return "menu-botton";

        return "menu-botton-active";
    }

    public string isShowMenu()
    {
        if (!showMenu) return "menu";

        return "menu-show";
    }

    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
