@page "/materiales/{id}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    [Parameter]
    public string id { get; set; }

    private Materiaal material;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + id);
        var response = await httpClient.GetAsync("https://localhost:7263/api/Materiales/" + id);

        if (response.IsSuccessStatusCode)
        {
            var content = await response.Content.ReadAsStringAsync();
            material = JsonConvert.DeserializeObject<Materiaal>(content);
        }
        else
        {

        }
    }
}

<h3 class="cotizacion-title">Material</h3>

<form class="cotizacion-form">
    <div>
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" name="tipo" value="@material.Tipo" @onchange="@((e) => handleChange(e,"tipo"))" />
    </div>
    <div>
        <label for="precioporkilo">Precio por kilo:</label>
        <input type="number" id="precioporkilo" name="precioporkilo" value="@material.PrecioPorKilo" @onchange="@((e) => handleChange(e,"precioporkilo"))" />
    </div>
    <div>
        <label for="stockporkilo">Stock por kilo:</label>
        <input type="number" id="stockporkilo" name="stockporkilo" value="@material.StockKilos" @onchange="@((e) => handleChange(e,"stockporkilo"))" />
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" value="@material.Descripcion" @onchange="@((e) => handleChange(e,"descripcion"))" />
    </div>
    <button type="submit" @onclick="UpdateMaterial">Guardar material</button>
</form>

@code {
    public class Materiaal
    {
        public int Id { get; set; }
        public string Tipo { get; set; }
        public double PrecioPorKilo { get; set; }
        public double StockKilos { get; set; }
        public string Descripcion { get; set; }
    }

    public void handleChange(ChangeEventArgs e, string name)
    {
        if (name == "tipo")
        {
            string inputValue = e.Value.ToString();
            material.Tipo = inputValue;
            Console.WriteLine("El valor del input ha cambiado: " + material.Tipo);
        }

        if (name == "precioporkilo")
        {
            string inputValue = e.Value.ToString();
            material.PrecioPorKilo = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + material.PrecioPorKilo);
        }

        if (name == "stockporkilo")
        {
            string inputValue = e.Value.ToString();
            material.StockKilos = Double.Parse(inputValue);
            Console.WriteLine("El valor del input ha cambiado: " + material.StockKilos);
        }

        if (name == "descripcion")
        {
            string inputValue = e.Value.ToString();
            material.Descripcion = inputValue;
            Console.WriteLine("El valor del input ha cambiado: " + material.Descripcion);
        }
    } 

    private async Task UpdateMaterial()
    {
        var httpClient = new HttpClient();
        var content = new StringContent(JsonConvert.SerializeObject(material), Encoding.UTF8, "application/json");
        //var response = await httpClient.PutAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + material.Id, content);
        var response = await httpClient.PutAsync("https://localhost:7263/api/Materiales/" + material.Id, content);

        if (response.IsSuccessStatusCode)
        {
            // El material se creó exitosamente, puedes realizar alguna acción, como redirigir a otra página
        }
        else
        {
        }
        StateHasChanged();
    }
}
