@page "/materiales/{id}"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http
@using static FerroLaminas.Pages.FetchData
@using Newtonsoft.Json;
@using System.Text
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation
@inject HttpClient httpClient

@code {
    [Parameter]
    public string id { get; set; }

    private Materiaal material;

    protected override async Task OnInitializedAsync()
    {
        var httpClient = new HttpClient();
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        //produccion
        //var response = await httpClient.GetAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + id);
        //desarrollo
        var response = await httpClient.GetAsync($"{path}/Materiales/" + id);

        if (response.IsSuccessStatusCode)
        {
            MateriaalData data;
            var content = await response.Content.ReadAsStringAsync();
            data = JsonConvert.DeserializeObject<MateriaalData>(content);
            material = data.Data;
        }
        else
        {
            material = new Materiaal();            
        }
    }
}

@if (material != null)
{
    <form class="cotizacion-form">
        <div>
            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" value="@material.Tipo" @onchange="@((e) => handleChange(e,"tipo"))" />
        </div>
        <div>
            <label for="precioporkilo">Precio por kilo:</label>
            <input type="number" id="precioporkilo" name="precioporkilo" value="@material.PrecioPorKilo" @onchange="@((e) => handleChange(e,"precioporkilo"))" />
        </div>
        <div>
            <label for="stockporkilo">Stock por kilo:</label>
            <input type="number" id="stockporkilo" name="stockporkilo" value="@material.StockKilos" @onchange="@((e) => handleChange(e,"stockporkilo"))" />
        </div>
        <div>
            <label for="descripcion">Descripción:</label>
            <input type="text" id="descripcion" name="descripcion" value="@material.Descripcion" @onchange="@((e) => handleChange(e,"descripcion"))" />
        </div>
        <div>
            <label for="densidad">Descripción:</label>
            <input type="number" id="densidad" name="densidad" value="@material.Densidad" @onchange="@((e) => handleChange(e,"densidad"))" />
        </div>
        <button type="submit" @onclick="UpdateMaterial">Guardar material</button>
    </form>
}
<h3 class="cotizacion-title">Material</h3>


@code {
    public class Materiaal
    {
        public int Id { get; set; }
        public string Tipo { get; set; }
        public double PrecioPorKilo { get; set; }
        public double StockKilos { get; set; }
        public string Descripcion { get; set; }
        public double Densidad { get; set; }
    }

    public class MateriaalData
    {
        public Materiaal Data { get; set; }
    }

    public Boolean validateValue(string value)
    {
        if (value == "")
        {
            return false;
        }
        return true;
    }

    public void handleChange(ChangeEventArgs e, string name)
    {

        string inputValue = e.Value.ToString();

        if (validateValue(inputValue))
        {
            if (name == "tipo")
            {
                material.Tipo = inputValue;
                Console.WriteLine("El valor del input ha cambiado: " + material.Tipo);
            }

            if (name == "precioporkilo")
            {
                material.PrecioPorKilo = Double.Parse(inputValue);
                Console.WriteLine("El valor del input ha cambiado: " + material.PrecioPorKilo);
            }

            if (name == "stockporkilo")
            {
                material.StockKilos = Double.Parse(inputValue);
                Console.WriteLine("El valor del input ha cambiado: " + material.StockKilos);
            }

            if (name == "descripcion")
            {
                material.Descripcion = inputValue;
                Console.WriteLine("El valor del input ha cambiado: " + material.Descripcion);
            }

            if (name == "densidad")
            {
                material.Densidad = Double.Parse(inputValue);
                Console.WriteLine("El valor del input ha cambiado: " + material.Densidad);
            }
        }
        else
        {
            Console.WriteLine("error");
        }
    } 

    private async Task UpdateMaterial()
    {
        var httpClient = new HttpClient();
        var content = new StringContent(JsonConvert.SerializeObject(material), Encoding.UTF8, "application/json");
        var path = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "path");
        //produccion
        //var response = await httpClient.PutAsync("https://apiferrolaminas.azurewebsites.net/api/Materiales/" + material.Id, content);
        //desarrollo
         var response = await httpClient.PutAsync($"{path}/Materiales/" + material.Id, content);

        if (response.IsSuccessStatusCode)
        {
            await OnInitializedAsync();
        }
        else
        {
        }
        StateHasChanged();
    }
}
